* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    background: #a28089;
    font-size: 1.3rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-recipe {
    height: auto;
    width: 500px;
    border-radius: 24px;
}

.recipe-description {
    text-align: center;
}

.ingred-list li,
.prep-list li {
    font-style: italic;
}

.ingred-list {
    list-style-type:circle;
}